<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>ToDo</title>
</head>
<body>
  <div id="app">
    <section class="container">
      <h1 id="title">ToDo List<span>by Vue.js</span></h1>
      <input id="register"
            type="text"
            v-model="newItemTitle"
            v-on:keyup.enter="addTodo">
      <button id="submit" v-on:click="">＋</button>

        <div id="tasks">
        <div id="task">Task</div>
        <ul id="todos">
          <li v-for="(item, index) in items">
            <label v-on:click="deleteTodo(index)">
              <input type="checkbox" v-model="item.isChecked" v-on:change="saveTodo" v-bind:class="{active: item.isChecked}"> {{ item.title }}
            </label>
          </li>
        </ul>
        </div>

        <div id="comps">
        <div id="comp">Done</div>
        <ul id="complete">
          <li v-for="done in dones">
            <label>
              <input type="checkbox" v-model="done.isChecked" v-on:change="saveTodo" v-bind:class="{active: done.isChecked}"> {{ done.title }}
            </label>
          </li>
        </ul>
        </div>

    </section>
  </div>
  <script src="js/main.js"></script>
</body>
</html>