<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>ToDo2</title>
  <style>
    .done {
      text-decoration: line-through;
      opacity: 0.3;
    }
  </style>
</head>
<body>
  <div id="app">
    <section class="container">
      <h1 id="title">ToDo List</h1>
      <input id="register"
            type="text"
            v-model="newItemTitle"
            v-on:keyup.enter="addTodo">
      <button id="submit" v-on:click="addTodo">＋</button>

        <div id="tasks">
        <div id="task">Task</div>
        <ul id="todos">
          <li class="todo" v-for="(item, index) in items" :class="{done: item.isChecked}">
            <input type="checkbox" @click.prevent="doneTodo(index)" v-model="item.isChecked"> {{ item.title }}
            <button class="delete" @click="deleteTodo_item(index)"></button>
          </li>
        </ul>
        </div>

        <div id="comps">
        <div id="comp">Done</div>
        <ul id="complete">
          <li class="todo" v-for="(done, index) in dones" :class="{done: done.isChecked}">
            <input type="checkbox" @click.prevent="returnTodo(index)" v-model="done.isChecked"> {{ done.title }}
            <button class="delete" @click="deleteTodo_done(index)"></button>
          </li>
        </ul>
        </div>

    </section>
  </div>
  <script src="js/main.js"></script>
</body>
</html>