<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>ToDo</title>
  <style>
    .done {
      text-decoration: line-through;
      opacity: 0.3;
    }
  </style>
</head>
<body>
  <div id="app">
    <section class="container">
      <h1 id="title">ToDo List<span>※作成中</span></h1>
      <input id="register"
            type="text"
            v-model="newItemTitle"
            v-on:keyup.enter="addTodo">
      <button id="submit" v-on:click="addTodo">＋</button>

        <div id="tasks">
        <div id="task">Task</div>
        <ul id="todos">
          <li v-for="(item, index) in items">
            <label v-on:click="doneTodo(index)" v-bind:class="{done: item.isChecked}">
              <input type="checkbox" v-bind:value="item.isChecked"> {{ item.title }}
              <button v-on:click="deleteTodo(index)">Delete</button>
            </label>
          </li>
        </ul>
        </div>

        <div id="comps">
        <div id="comp">Done</div>
        <ul id="complete">
          <li v-for="(done, index) in dones">
            <label v-on:click="returnTodo(index)" v-bind:class="{done: done.isChecked}">
              <input type="checkbox" v-bind:value="done.isChecked"> {{ done.title }}
              <button v-on:click="deleteTodo(index)">Delete</button>
            </label>
          </li>
        </ul>
        </div>

    </section>
  </div>
  <script src="js/main.js"></script>
</body>
</html>